@font-face {
  font-family: Hellovetica;
  src: url("../assets/font/Hellovetica/hellovetica.woff");
}

body {
  background-color: #373457;
  font-family: Hellovetica;
}

/* .jump {
  -webkit-animation: mover 0.7s;
  animation: mover 0.7s;
} */
@-webkit-keyframes jump {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

.welcome {
  user-select: none;
  margin: auto;
  margin-bottom: 50px;
  color: #ff79c6;
  font-size: 72px;
  text-align: center;
  margin-top: 100px;
}

#people {
  margin: auto;
  text-align: center;
}

.avatars {
  display: inline-block;
  font-size: 0px;
}

.avatar {
  margin: 60px;
}

.ref {
  user-select: none;
  width: 60%;
  text-align: center;
  margin: auto;
  font-family: Hellovetica;
  font-size: 10px;
}

#GitHub {
  text-decoration: none;
  color: #ff79c6;
}

#generator {
  text-decoration: none;
  color: #ff79c6;
}

#GitHub:visited {
  color: #ff79c6;
}
#generator:visited {
  color: #ff79c6;
}

#welcomeText:hover {
  color: #ffacdb;
}

#GitHub:hover {
  color: #ffacdb;
}

#generator:hover {
  color: #ffacdb;
}

#olivia {
  transform: none;
}

#rhys {
  transform: none;
}

#michael {
  transform: none;
}

#alex {
  transform: none;
}

#leo {
  transform: none;
}
